In [18]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [20]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [29]:
df=pd.read_csv(url, names=['sepal length','sepal width','petal length','petal width','target'])

In [27]:
df.head()

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [39]:
feats=['sepal length','sepal width','petal length','petal width']
x=df.loc[:,feats].values
std_x=StandardScaler().fit_transform(x)

In [44]:
pd.DataFrame(data=std_x, columns=feats).head()

   sepal length  sepal width  petal length  petal width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [54]:
pca=PCA(n_components=2)
pcaOut=pca.fit_transform(std_x)
pd.DataFrame(data=pcaOut,columns=['feature1','feature2']).head()

   feature1  feature2
0 -2.264542  0.505704
1 -2.086426 -0.655405
2 -2.367950 -0.318477
3 -2.304197 -0.575368
4 -2.388777  0.674767

In [55]:
#plt.plot(feature1,feature2)
#plt.show()

pca.explained_variance_ratio_

array([0.72770452, 0.23030523])